src/jade/pages/agency.jade
extends ../layout
block vars
	- var js_type = 'agency';
block head
	title 26ok.ru – Агенство
block body
	.main__top
		.wrp.agency-description
			aside.agency-description__aside
				img.agency-description__img(src="img/agency_large.png", alt="Agency")
				a.btn.btn-block.btn-action(href="mailto:admin@mail.com")
					span.icon.icon-i_letter
					span Написать администратору
				button.btn.btn-block.btn-primary
					span.icon.icon-i_people
					span Вступить в сообщество
			article.agency-description__main
				h1.agency-description__title Агентство недвижимости Северная столица
				section.agency-description__text
					p К недвижимости по происхождению относятся земельные участки, участки недр и все, что прочно связано с землей, то есть объекты, перемещение которых без несоразмерного ущерба их назначению невозможно, в том числе здания, сооружения, объекты незавершённого строительства.
					p
						| Недвижимость может являться предметом лизинга. Залог недвижимости, равно как и получение кредита под залог недвижимости принято называть ипотек 
						a(href="#full_article", data-action="show-full-article") ... Читать далее
					div.agency-description__full-article#full_article
						p К недвижимости по происхождению относятся земельные участки, участки недр и все, что прочно связано с землей, то есть объекты, перемещение которых без несоразмерного ущерба их назначению невозможно, в том числе здания, сооружения, объекты незавершённого строительства.
				section.agency-description__agents
					a.agency-description__all-agents(href="#all_agents") Показать всех агентов
					h4.agency-description__agents-title Лучшие агенты месяца
					ul.agent__list
						- for(var i in [1,2,3])
							li.agent__item
								.agent
									img.agent__img(src="img/agent_square.jpg", alt="Agent")
									div.agent__info
										span.agent__name Хромовинничков У.Е.
										span.agent__rating Рейтинг: 100500
	article
		.wrp
			section.agency-info
				h2.agency-info__header Информация
				.agency-info__row
					.agency-info__col
						table.agency-contacts
							tr.agency-contacts__row
								td.agency-contacts__icon: span.icon.icon-i_phone
								td.agency-contacts__title: h4 Телефоны
								td.agency-contacts__value
									a(href="tel:+79031234567") 8 (903) 123-45-67
									br
									a(href="tel:+79031712156") 8 (903) 171-21-56
									br
									a(href="tel:+79032252555") 8 (903) 225-25-55
							tr.agency-contacts__row
								td.agency-contacts__icon: span.icon.icon-i_letter
								td.agency-contacts__title: h4 Почта
								td.agency-contacts__value
									a(href="mailto:super.agent@yandex.ru") super.agent@yandex.ru
									br
									a(href="mailto:support@mail.ru") support@mail.ru
							tr.agency-contacts__row
								td.agency-contacts__icon: span.icon.icon-i_chain
								td.agency-contacts__title: h4 Web-сайт
								td.agency-contacts__value
									a(href="http://www.super.agentstvo.ru", target="_blank") www.super.agentstvo.ru
					.agency-info__col
						table.stats-table
							tr.stats-table__row
								td: .stats-table__title Агентов числится
								td: .stats-table__value
									strong 15 
									| агентов
							tr.stats-table__row
								td: .stats-table__title Объявлений за все время
								td: .stats-table__value
									strong 374 
									| объявления
							tr.stats-table__row
								td: .stats-table__title Объявлений сейчас
								td: .stats-table__value
									strong 24 
									| объявления
							tr.stats-table__row
								td: .stats-table__title Дата регистрации
								td: .stats-table__value 17 апреля 2013 года

			section.agency-offices
				h2.agency-offices__title Офисы
				ul.agency-offices__list(data-view="offices-list")
					- for(var i=0; i<4; i++)
						li.agency-offices__item
							.agency-offices__column
								h4.agency-offices__subtitle Офис #1
								table.agency-offices__table
									tr
										td Адрес
										td ул. Святославовича, 481/4б, кв. 9
									tr
										td Телефон
										td 9 (415) 129-00-81
									tr
										td Графи работы
										td
											small пн. 
											| 8:00 - 18:00
											br
											small вт. 
											| 8:00 - 18:00
											br
											small ср. 
											| 8:00 - 18:00
											br
											small чт. 
											| 8:00 - 18:00
											br
											small пт. 
											| 8:00 - 18:00
											br
											small сб. 
											| 8:00 - 18:00
											br
											small вс. 
											| Выходной
							.agency-offices__column
								img.agency-offices__img(src="img/map_example.jpg", alt="Map example")
				.agency-offices__show-more
					button.btn.btn-default(data-action="offices-shower") Показать остальные офисы
			section.agency-ads
				h3.agency-ads__title Последние объявления
				ul.ads__list(data-view="ads-list")
					+adv_items(6, 'ads__item')
				.agency-ads__show-more
					button.btn.btn-default(data-action="load-more", data-url="adv_items.html", data-acceptor="ads-list") Показать еще объявления

app/agency.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" href="css/app.css">
    <title>26ok.ru – Агенство</title>
  </head>
  <body data-js="agency">
    <div class="content-wrap">
      <header data-view="header" class="header">
        <div data-view="wrp" class="wrp">
          <div class="header__table">
            <div class="header__cell"><a href="/" class="header__logo"><img src="img/logo.png" alt="26ok.ru"></a></div>
            <div class="header__cell">
              <nav class="header__menu menu big"><a href="#main_menu" class="menu__shower"><span class="icon icon-i_menu"></span><span>Меню сайта</span></a>
                <ul id="main_menu" class="menu__list">
                  <li class="menu__item"><a href="#about" class="menu__link">О нас</a></li>
                  <li class="menu__item parent"><a href="#services" class="menu__link"><span>Услуги</span><span class="icon icon-i_ar-down-white"></span></a>
                    <ul class="menu__sublist">
                      <li class="menu__subitem"><a href="#service" class="menu__sublink">Покупка недвижимости</a></li>
                      <li class="menu__subitem"><a href="#service" class="menu__sublink">Продажа недвижимости</a></li>
                      <li class="menu__subitem"><a href="#service" class="menu__sublink">Аренда</a></li>
                      <li class="menu__subitem"><a href="#service" class="menu__sublink">Коммерческая недвижимость</a></li>
                    </ul>
                  </li>
                  <li class="menu__item"><a href="#guestbook" class="menu__link">Жалобы и предложения</a></li>
                </ul>
              </nav>
            </div>
            <div class="header__cell"><a href="#new_ad" title="Подать объявление" class="header__new btn btn-action"><span class="icon icon-i_plus"></span><span>Подать</span><span class="text-mobile-hidden"> объявление</span></a></div>
            <div class="header__cell">
              <div class="header__user head-user"><a href="#user" class="head-user__img"><img src="img/user.jpg" alt="Джаграханянц А.К."></a>
                <div class="head-user__main"><a href="#exit" class="head-user__exit">Выйти</a><a href="#user" class="head-user__name">Джаграханянц А.К.</a>
                  <div class="head-user__menu menu small">
                    <ul class="menu__list">
                      <li class="menu__item"><a href="agency.html" class="menu__link">Мое агентство</a></li>
                      <li class="menu__item parent"><a href="#my_profile" class="menu__link"><span>Мой профиль</span><span class="icon icon-i_ar-down-white"></span></a>
                        <ul class="menu__sublist">
                          <li class="menu__subitem"><a href="#profile0" class="menu__sublink">Фича профиля 0</a></li>
                          <li class="menu__subitem"><a href="#profile1" class="menu__sublink">Фича профиля 1</a></li>
                          <li class="menu__subitem"><a href="#profile2" class="menu__sublink">Фича профиля 2</a></li>
                          <li class="menu__subitem"><a href="#profile3" class="menu__sublink">Фича профиля 3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="main ">
        <div class="main__top">
          <div class="wrp agency-description">
            <aside class="agency-description__aside"><img src="img/agency_large.png" alt="Agency" class="agency-description__img"><a href="mailto:admin@mail.com" class="btn btn-block btn-action"><span class="icon icon-i_letter"></span><span>Написать администратору</span></a>
              <button class="btn btn-block btn-primary"><span class="icon icon-i_people"></span><span>Вступить в сообщество</span></button>
            </aside>
            <article class="agency-description__main">
              <h1 class="agency-description__title">Агентство недвижимости Северная столица</h1>
              <section class="agency-description__text">
                <p>К недвижимости по происхождению относятся земельные участки, участки недр и все, что прочно связано с землей, то есть объекты, перемещение которых без несоразмерного ущерба их назначению невозможно, в том числе здания, сооружения, объекты незавершённого строительства.</p>
                <p>Недвижимость может являться предметом лизинга. Залог недвижимости, равно как и получение кредита под залог недвижимости принято называть ипотек <a href="#full_article" data-action="show-full-article">... Читать далее</a></p>
                <div id="full_article" class="agency-description__full-article">
                  <p>К недвижимости по происхождению относятся земельные участки, участки недр и все, что прочно связано с землей, то есть объекты, перемещение которых без несоразмерного ущерба их назначению невозможно, в том числе здания, сооружения, объекты незавершённого строительства.</p>
                </div>
              </section>
              <section class="agency-description__agents"><a href="#all_agents" class="agency-description__all-agents">Показать всех агентов</a>
                <h4 class="agency-description__agents-title">Лучшие агенты месяца</h4>
                <ul class="agent__list">
                  <li class="agent__item">
                    <div class="agent"><img src="img/agent_square.jpg" alt="Agent" class="agent__img">
                      <div class="agent__info"><span class="agent__name">Хромовинничков У.Е.</span><span class="agent__rating">Рейтинг: 100500</span></div>
                    </div>
                  </li>
                  <li class="agent__item">
                    <div class="agent"><img src="img/agent_square.jpg" alt="Agent" class="agent__img">
                      <div class="agent__info"><span class="agent__name">Хромовинничков У.Е.</span><span class="agent__rating">Рейтинг: 100500</span></div>
                    </div>
                  </li>
                  <li class="agent__item">
                    <div class="agent"><img src="img/agent_square.jpg" alt="Agent" class="agent__img">
                      <div class="agent__info"><span class="agent__name">Хромовинничков У.Е.</span><span class="agent__rating">Рейтинг: 100500</span></div>
                    </div>
                  </li>
                </ul>
              </section>
            </article>
          </div>
        </div>
        <article>
          <div class="wrp">
            <section class="agency-info">
              <h2 class="agency-info__header">Информация</h2>
              <div class="agency-info__row">
                <div class="agency-info__col">
                  <table class="agency-contacts">
                    <tr class="agency-contacts__row">
                      <td class="agency-contacts__icon"><span class="icon icon-i_phone"></span></td>
                      <td class="agency-contacts__title">
                        <h4>Телефоны</h4>
                      </td>
                      <td class="agency-contacts__value"><a href="tel:+79031234567">8 (903) 123-45-67</a><br><a href="tel:+79031712156">8 (903) 171-21-56</a><br><a href="tel:+79032252555">8 (903) 225-25-55</a></td>
                    </tr>
                    <tr class="agency-contacts__row">
                      <td class="agency-contacts__icon"><span class="icon icon-i_letter"></span></td>
                      <td class="agency-contacts__title">
                        <h4>Почта</h4>
                      </td>
                      <td class="agency-contacts__value"><a href="mailto:super.agent@yandex.ru">super.agent@yandex.ru</a><br><a href="mailto:support@mail.ru">support@mail.ru</a></td>
                    </tr>
                    <tr class="agency-contacts__row">
                      <td class="agency-contacts__icon"><span class="icon icon-i_chain"></span></td>
                      <td class="agency-contacts__title">
                        <h4>Web-сайт</h4>
                      </td>
                      <td class="agency-contacts__value"><a href="http://www.super.agentstvo.ru" target="_blank">www.super.agentstvo.ru</a></td>
                    </tr>
                  </table>
                </div>
                <div class="agency-info__col">
                  <table class="stats-table">
                    <tr class="stats-table__row">
                      <td>
                        <div class="stats-table__title">Агентов числится</div>
                      </td>
                      <td>
                        <div class="stats-table__value"><strong>15 </strong>агентов</div>
                      </td>
                    </tr>
                    <tr class="stats-table__row">
                      <td>
                        <div class="stats-table__title">Объявлений за все время</div>
                      </td>
                      <td>
                        <div class="stats-table__value"><strong>374 </strong>объявления</div>
                      </td>
                    </tr>
                    <tr class="stats-table__row">
                      <td>
                        <div class="stats-table__title">Объявлений сейчас</div>
                      </td>
                      <td>
                        <div class="stats-table__value"><strong>24 </strong>объявления</div>
                      </td>
                    </tr>
                    <tr class="stats-table__row">
                      <td>
                        <div class="stats-table__title">Дата регистрации</div>
                      </td>
                      <td>
                        <div class="stats-table__value">17 апреля 2013 года</div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </section>
            <section class="agency-offices">
              <h2 class="agency-offices__title">Офисы</h2>
              <ul data-view="offices-list" class="agency-offices__list">
                <li class="agency-offices__item">
                  <div class="agency-offices__column">
                    <h4 class="agency-offices__subtitle">Офис #1</h4>
                    <table class="agency-offices__table">
                      <tr>
                        <td>Адрес</td>
                        <td>ул. Святославовича, 481/4б, кв. 9</td>
                      </tr>
                      <tr>
                        <td>Телефон</td>
                        <td>9 (415) 129-00-81</td>
                      </tr>
                      <tr>
                        <td>Графи работы</td>
                        <td><small>пн. </small>8:00 - 18:00<br><small>вт. </small>8:00 - 18:00<br><small>ср. </small>8:00 - 18:00<br><small>чт. </small>8:00 - 18:00<br><small>пт. </small>8:00 - 18:00<br><small>сб. </small>8:00 - 18:00<br><small>вс. </small>Выходной</td>
                      </tr>
                    </table>
                  </div>
                  <div class="agency-offices__column"><img src="img/map_example.jpg" alt="Map example" class="agency-offices__img"></div>
                </li>
                <li class="agency-offices__item">
                  <div class="agency-offices__column">
                    <h4 class="agency-offices__subtitle">Офис #1</h4>
                    <table class="agency-offices__table">
                      <tr>
                        <td>Адрес</td>
                        <td>ул. Святославовича, 481/4б, кв. 9</td>
                      </tr>
                      <tr>
                        <td>Телефон</td>
                        <td>9 (415) 129-00-81</td>
                      </tr>
                      <tr>
                        <td>Графи работы</td>
                        <td><small>пн. </small>8:00 - 18:00<br><small>вт. </small>8:00 - 18:00<br><small>ср. </small>8:00 - 18:00<br><small>чт. </small>8:00 - 18:00<br><small>пт. </small>8:00 - 18:00<br><small>сб. </small>8:00 - 18:00<br><small>вс. </small>Выходной</td>
                      </tr>
                    </table>
                  </div>
                  <div class="agency-offices__column"><img src="img/map_example.jpg" alt="Map example" class="agency-offices__img"></div>
                </li>
                <li class="agency-offices__item">
                  <div class="agency-offices__column">
                    <h4 class="agency-offices__subtitle">Офис #1</h4>
                    <table class="agency-offices__table">
                      <tr>
                        <td>Адрес</td>
                        <td>ул. Святославовича, 481/4б, кв. 9</td>
                      </tr>
                      <tr>
                        <td>Телефон</td>
                        <td>9 (415) 129-00-81</td>
                      </tr>
                      <tr>
                        <td>Графи работы</td>
                        <td><small>пн. </small>8:00 - 18:00<br><small>вт. </small>8:00 - 18:00<br><small>ср. </small>8:00 - 18:00<br><small>чт. </small>8:00 - 18:00<br><small>пт. </small>8:00 - 18:00<br><small>сб. </small>8:00 - 18:00<br><small>вс. </small>Выходной</td>
                      </tr>
                    </table>
                  </div>
                  <div class="agency-offices__column"><img src="img/map_example.jpg" alt="Map example" class="agency-offices__img"></div>
                </li>
                <li class="agency-offices__item">
                  <div class="agency-offices__column">
                    <h4 class="agency-offices__subtitle">Офис #1</h4>
                    <table class="agency-offices__table">
                      <tr>
                        <td>Адрес</td>
                        <td>ул. Святославовича, 481/4б, кв. 9</td>
                      </tr>
                      <tr>
                        <td>Телефон</td>
                        <td>9 (415) 129-00-81</td>
                      </tr>
                      <tr>
                        <td>Графи работы</td>
                        <td><small>пн. </small>8:00 - 18:00<br><small>вт. </small>8:00 - 18:00<br><small>ср. </small>8:00 - 18:00<br><small>чт. </small>8:00 - 18:00<br><small>пт. </small>8:00 - 18:00<br><small>сб. </small>8:00 - 18:00<br><small>вс. </small>Выходной</td>
                      </tr>
                    </table>
                  </div>
                  <div class="agency-offices__column"><img src="img/map_example.jpg" alt="Map example" class="agency-offices__img"></div>
                </li>
              </ul>
              <div class="agency-offices__show-more">
                <button data-action="offices-shower" class="btn btn-default">Показать остальные офисы</button>
              </div>
            </section>
            <section class="agency-ads">
              <h3 class="agency-ads__title">Последние объявления</h3>
              <ul data-view="ads-list" class="ads__list">
                <li class="ads__item"><a href="item.html" data-href="item_popup.html" data-action="toggle-modal" class="ads__link">
                    <div class="ads__img">
                      <div class="ads__img-inner"><img src="img/realty2.jpg" alt="Realty"/></div>
                      <div class="ads__price">
                        <div class="ads__extra"><span class="icon icon-i_photo"></span><span>5</span></div>
                        <div class="ads__extra"><span class="icon icon-i_map"></span></div><span>1 100 000 P</span>
                      </div>
                    </div>
                    <div class="ads__main">
                      <div class="ads__title">Орехово-Зуево</div>
                      <div class="ads__info">3 комнаты  |  117 м2</div>
                    </div></a>
                  <button data-action="toggle-star" class="ads__star btn btn-link ">
                    <div class="icon"></div>
                  </button>
                </li>
                <li class="ads__item"><a href="item.html" data-href="item_popup.html" data-action="toggle-modal" class="ads__link">
                    <div class="ads__img">
                      <div class="ads__img-inner"><img src="img/realty3.jpg" alt="Realty"/></div>
                      <div class="ads__price">
                        <div class="ads__extra"><span class="icon icon-i_photo"></span><span>5</span></div>
                        <div class="ads__extra"><span class="icon icon-i_map"></span></div><span>2 200 000 P</span>
                      </div>
                    </div>
                    <div class="ads__main">
                      <div class="ads__title">Орехово-Зуево</div>
                      <div class="ads__info">3 комнаты  |  117 м2</div>
                    </div></a>
                  <button data-action="toggle-star" class="ads__star btn btn-link is-active">
                    <div class="icon"></div>
                  </button>
                </li>
                <li class="ads__item"><a href="item.html" data-href="item_popup.html" data-action="toggle-modal" class="ads__link">
                    <div class="ads__img">
                      <div class="ads__img-inner"><img src="img/realty1.jpg" alt="Realty"/></div>
                      <div class="ads__price">
                        <div class="ads__extra"><span class="icon icon-i_photo"></span><span>5</span></div>
                        <div class="ads__extra"><span class="icon icon-i_map"></span></div><span>3 300 000 P</span>
                      </div>
                    </div>
                    <div class="ads__main">
                      <div class="ads__title">Орехово-Зуево</div>
                      <div class="ads__info">3 комнаты  |  117 м2</div>
                    </div></a>
                  <button data-action="toggle-star" class="ads__star btn btn-link ">
                    <div class="icon"></div>
                  </button>
                </li>
                <li class="ads__item"><a href="item.html" data-href="item_popup.html" data-action="toggle-modal" class="ads__link">
                    <div class="ads__img">
                      <div class="ads__img-inner"><img src="img/realty2.jpg" alt="Realty"/></div>
                      <div class="ads__price">
                        <div class="ads__extra"><span class="icon icon-i_photo"></span><span>5</span></div>
                        <div class="ads__extra"><span class="icon icon-i_map"></span></div><span>4 400 000 P</span>
                      </div>
                    </div>
                    <div class="ads__main">
                      <div class="ads__title">Орехово-Зуево</div>
                      <div class="ads__info">3 комнаты  |  117 м2</div>
                    </div></a>
                  <button data-action="toggle-star" class="ads__star btn btn-link is-active">
                    <div class="icon"></div>
                  </button>
                </li>
                <li class="ads__item"><a href="item.html" data-href="item_popup.html" data-action="toggle-modal" class="ads__link">
                    <div class="ads__img">
                      <div class="ads__img-inner"><img src="img/realty3.jpg" alt="Realty"/></div>
                      <div class="ads__price">
                        <div class="ads__extra"><span class="icon icon-i_photo"></span><span>5</span></div>
                        <div class="ads__extra"><span class="icon icon-i_map"></span></div><span>5 500 000 P</span>
                      </div>
                    </div>
                    <div class="ads__main">
                      <div class="ads__title">Орехово-Зуево</div>
                      <div class="ads__info">3 комнаты  |  117 м2</div>
                    </div></a>
                  <button data-action="toggle-star" class="ads__star btn btn-link ">
                    <div class="icon"></div>
                  </button>
                </li>
                <li class="ads__item"><a href="item.html" data-href="item_popup.html" data-action="toggle-modal" class="ads__link">
                    <div class="ads__img">
                      <div class="ads__img-inner"><img src="img/realty1.jpg" alt="Realty"/></div>
                      <div class="ads__price">
                        <div class="ads__extra"><span class="icon icon-i_photo"></span><span>5</span></div>
                        <div class="ads__extra"><span class="icon icon-i_map"></span></div><span>6 600 000 P</span>
                      </div>
                    </div>
                    <div class="ads__main">
                      <div class="ads__title">Орехово-Зуево</div>
                      <div class="ads__info">3 комнаты  |  117 м2</div>
                    </div></a>
                  <button data-action="toggle-star" class="ads__star btn btn-link is-active">
                    <div class="icon"></div>
                  </button>
                </li>
              </ul>
              <div class="agency-ads__show-more">
                <button data-action="load-more" data-url="adv_items.html" data-acceptor="ads-list" class="btn btn-default">Показать еще объявления</button>
              </div>
            </section>
          </div>
        </article>
      </main>
      <div data-view="footer" class="footer-placeholder"></div>
    </div>
    <footer data-view="footer" class="footer sticky-footer"><span>Все права защищены. 2015.</span></footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\\/script>')</script>
    <script type="application/javascript" src="js/plugins.js"></script>
    <script type="application/javascript" src="js/main.js"></script>
    <script type="application/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
  </body>
</html>
